.post_page {
    background-color: white;
    border-radius: 20px;
}

.post_page .image {
    max-height: 300px;
    display: flex;
    overflow: hidden;
}

.post_page .image img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.post_page a {
    color: #333;
    text-decoration: underline;
}

.post_page h2 {
    text-align: center;
    margin: 10px 0 10px;
}

.post_page time {
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}

.post_page .author {
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}

.post_page .content p {
    line-height: 1.6rem;
}

.edit_row {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.edit_row .edit_btn {
    background-color: rgb(165, 5, 5);
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    padding: 9px 15px;
    border-radius: 5px;
    font-size: .8rem;
}

.pp {
    cursor: default;
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(165, 5, 5);
}

.edit_row .edit_btn_btn {
    width: 20%;
    background-color: rgb(165, 5, 5);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    padding: 9px 15px;
    border-radius: 5px;
    font-size: .8rem;
}

.post_page a svg,
.post_page button svg {
    height: 15px;

}