.post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 35px;
}

@media screen and (min-width:600px) {
    .post {
        grid-template-columns: .9fr 1.1fr;
    }
}

.post .texts h2 {
    margin: 0;
    font-size: 1.8rem;
}

.post .texts a {
    text-decoration: none;
    color: inherit
}

img {
    max-width: 100%;
}

.post .info {
    margin: 6px 0;
    color: #888;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.post .info .author {
    color: #333;
}

.post .summary {
    margin: 10px 0;
    line-height: 1.4rem;
}