* {
    box-sizing: border-box;
}

main {
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    background-color:rgba(245, 245, 245, 0.959);
}

body {
    color: #222;
    background-color: #8a2b0e;
}

.login,
.register {
    max-width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

button {
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #8a2b0e;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
}

.login .toreg {
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

.post-page .image {
    max-height: 200px;
    display: flex;
    overflow: hidden;
}

.post-page .image img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.post-page a {
    color: #333;
    text-decoration: underline;
}

.post-page h1 {
    text-align: center;
    margin: 10px 0 10px;
}

.post-page time {
    text-align: center;
    display: block;
    font-size: .7rem;
    color: #aaa;
}

.post-page .author {
    text-align: center;
    margin-bottom: 20px;
    font-size: .7rem;
    font-weight: bold;
}

.post-page .content p {
    line-height: 1.6rem;
}

.edit-row {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.edit-row .edit-btn {
    background-color: #333;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    padding: 9px 15px;
    border-radius: 5px;
    font-size: .8rem;
}

a svg,
span svg {
    height: 15px;
}

.user_row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 60%;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 2px;
    background-color: #ddd;
}

.user_row .texts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;
}

.user_row .icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 6px;
    border-left: 1px solid #555;
}

.user_row svg {
    height: 40px;
}