* {
    box-sizing: border-box;
}

main {
    padding: 10px;
    max-width: 860px;
    margin: 0 auto;
    background-color:transparent;
    border-radius: 20px;
    border-bottom: 1px solid rgb(201, 8, 8);
    border-width: 15px;
}

body {
    color: #222;
    background-color: whitesmoke;
}